@{
    Page.Title = "微信管理";
}
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box border">
        <div class="box-body">
            <p>建设中...</p>
        </div>
    </div><!-- /.box -->
</section>
